/* import webfont definitions */
@import url(/css/shaky.css);
@import url(/css/rocksalt.css);

/*@import url(/css/greg.css);*/

.navbar-form input, .form-inline input {
    width: auto;
}

body {
    padding-top: 50px;
}

footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ededed;
}

#masthead {
    min-height: 199px;
}

#masthead h1 {
    font-family: 'shaky_hand_some_comic3d';
    font-size: 55px;
    line-height: 1;
    margin-top: 50px;
}

#masthead h1 p.lead {
    /*font-family: 'gregs_other_handregular';*/
    font-family: 'shaky_hand_some_comicregular';
}

#masthead .well {
    margin-top: 31px;
    min-height: 127px;
}

.navbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
}

.story-img {
    margin-top: 25%;
    display: block;
}

h2, h3, h4, .publish-date {
    /*font-family: 'gregs_other_handregular';*/
    font-family: 'rock_saltregular';
}

.publish-date {
    font-size: 11px;
    margin: 25px 0;
}

li {
    margin-bottom: 10px;
}

h3 a, h3 a:hover {
    color: #223344;
    /*text-decoration: none;*/
}

a, a:hover {
    /*color: #223344;*/
    text-decoration: none;
}

.icon-bar {
    background-color: #fff;
}

@media screen and (min-width: 768px) {
    #masthead h1 {
        font-size: 80px;
    }
}

.dropdown-menu {
    min-width: 250px;
}

.panel {
    border-color: transparent;
    border-radius: 0;
}

.thumbnail {
    margin-bottom: 8px;
}

.img-container {
    overflow: hidden;
    height: 170px;
}

.img-container img {
    min-width: 280px;
    min-height: 180px;
    max-width: 380px;
    max-height: 280px;
}

.txt-container {
    overflow: hidden;
    height: 100px;
}

.panel .lead {
    overflow: hidden;
    /*height: 90px;*/
}

.label-float {
    margin: 0 auto;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    opacity: .9;
    padding: 6px;
    color: #fff;
}

/* ---------------------- */

.share-icon-twitter:before {
    content: url("/icons/Twitter-24.png");
}

.share-icon-facebook:before {

    content: url("/icons/Facebook-24.png");
}

.share-icon-google-plus:before {
    content: url("/icons/GooglePlus-24.png");
}
.share-icon-stumbleupon:before {
    content: url("/icons/StumbleUpon-24.png");
}

.share-icon-linkedin:before {
    content: url("/icons/LinkedIn-24.png");
}

.share-icon-reddit:before {
    content: url("/icons/Reddit-24.png");
}

.share-icon-email:before {
    content: url("/icons/Misc_Mail_02-24.png");
}

.panel-body > div#image-wrapper {
    position: relative;
}

.image-credit {
    bottom: 13px;
    position: absolute;
    right: -25px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: lr-tb;
}

.poetry-title {
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

.poetry-indent-1 {
    padding-left: 40px;
}

.poetry-indent-2 {
    padding-left: 80px;
}

.poetry-indent-3 {
    padding-left: 120px;
}

div#pagination-wrapper {
    text-align: center;
}